---
---

<!-- blog page header -->
<header class="p-4 bg-gray-700 flex justify-between items-center">
  <div class="">
    <h1 class="text-3xl text-white font-bold">Project blog</h1>
  </div>
  <iframe
    class="hidden md:block"
    src="https://ghbtns.com/github-btn.html?user=LanVukusic&repo=bio-reactor&type=star&count=true&size=large"
    frameborder="0"
    scrolling="0"
    width="170"
    height="30"
    title="GitHub"></iframe>
  <iframe
    class="md:hidden"
    src="https://ghbtns.com/github-btn.html?user=LanVukusic&repo=bio-reactor&type=star&count=true&size=small"
    frameborder="0"
    scrolling="0"
    width="90"
    height="20"
    title="GitHub"></iframe>
</header>
